@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-color: #151515;
}

.header-titel{
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #FF5E19;
}

.total-color{
    color: #FF5E19;
}

.epl-logo{
    background-image: url('../images/epl-logo.png');
    background-repeat: no-repeat;
}

.bg-blackColor{
    background-color: #0d0d0d;
}

button:disabled{
    background-color: gray;
    color: white;
}