@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

.header-titel{
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #FF5E19;
}