@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background-color: #151515;
}

.header-titel{
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    color: #FF5E19;
}

.total-color{
    color: #FF5E19;
}

.epl-logo{
    background: url('../images/epl-logo.png') no-repeat scroll left bottom;
}

.add-soccer-goal{
    background: url('../images/soccer-goal.png') no-repeat scroll right bottom;
}

.bg-blackColor{
    background-color: #0d0d0d;
}

.grid{
    align-items: start;
    justify-items: center;
    width: 100%;
}